<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <header>
    <h1>Todo App</h1>
    <% if(user) { %>
      <nav>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
      </nav>
    <% } else { %>
      <nav>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
      </nav>
    <% } %>
  </header>
  <main>
